@use './styles/global.scss' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
  scroll-behavior: inherit;
}

.top-level-wrapper{
  min-height: 200vh;
  padding: 0 $mobile-spacing;
  @include tablet-adapt{
    padding: 0 $tablet-spacing;
  }
  @include desktop-adapt{
    padding: 0 $desktop-spacing;
  }
}