@use './variables' as *;

// Logo Animations
@keyframes logo-flip {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes logo-flip-inactive {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
// Icon Animations
@keyframes heart-pulse{
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1.0,1.0);}
}
@keyframes menu-top-move{
  0%{transform: translateY(0)}
  50%{transform: translateY(28%)}
  100%{transform: translateY(28%)}
}
@keyframes menu-top-rotate{
  0%{transform: translateY(28%) rotateZ(0)}
  100%{transform: translateY(28%) rotateZ(-45deg)}
}
@keyframes menu-bottom-move{
  0%{transform: translateY(0)}
  50%{transform: translateY(-28%)}
  100%{transform: translateY(-28%)}
}
@keyframes menu-bottom-rotate{
  0%{transform: translateY(-28%) rotateZ(0)}
  100%{transform: translateY(-28%) rotateZ(45deg)}
}

@keyframes menu-middle{
  0%{transform: rotateZ(0deg)translateY(0)translateX(0)scaleX(1)}
  50%{transform: rotateZ(180deg)translateY(-40%)translateX(0)scaleX(1)}
  60%{transform: rotateZ(180deg)translateY(-40%)translateX(-45%)scaleX(1)}
  100%{transform: rotateZ(180deg)translateY(-40%)translateX(-45%)scaleX(8)}
}
@keyframes menu-links {
  0%{transform: rotateY(-90deg);}
  100%{transform: rotateY(0deg);}
}
@keyframes menu-links-hide {
  0%{transform: rotateY(0deg);}
  100%{transform: rotateY(-90deg);}
}

@keyframes success-circle {
  0%{stroke-dashoffset: 56px;}
  100%{stroke-dashoffset: 0;}
}

@keyframes success-tick {
  0%{stroke-dashoffset: 17px;}
  100%{stroke-dashoffset: 0;}
}

@keyframes success-text {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes success-form {
  0%{opacity: 1;}
  30%{opacity: 0;}
  50%{opacity: 0;}
  70%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes success-fade {
  0%{opacity: 1;}
  100%{opacity: 0;}
  
}

// Navigation Animations
@keyframes side-nav-expand {
  0%{max-height: 0;}
  100%{max-height: 100vh;}
}

@keyframes side-nav-contract {
  0%{max-height: 100vh;}
  100%{max-height: 0;}
}

// @keyframes side-nav-icon-pos {
  // 0%
// }

// Button Animations
@keyframes btn-focus {
  0%{background-color: lightgray;}
  100%{background-color: $offset-secondary-color;}
}