@use './variables' as *;

// Logo Animations
@keyframes logo-flip {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes logo-flip-inactive {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
// Icon Animations
@keyframes heart-pulse{
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1.0,1.0);}
}
@keyframes menu-top-move{
  0%{transform: translateY(0)}
  50%{transform: translateY(28%)}
  100%{transform: translateY(28%)}
}
@keyframes menu-top-rotate{
  0%{transform: translateY(28%) rotateZ(0)}
  100%{transform: translateY(28%) rotateZ(-45deg)}
}
@keyframes menu-bottom-move{
  0%{transform: translateY(0)}
  50%{transform: translateY(-28%)}
  100%{transform: translateY(-28%)}
}
@keyframes menu-bottom-rotate{
  0%{transform: translateY(-28%) rotateZ(0)}
  100%{transform: translateY(-28%) rotateZ(45deg)}
}

@keyframes menu-middle{
  0%{transform: rotateZ(0deg)translateY(0)translateX(0)scaleX(1)}
  50%{transform: rotateZ(180deg)translateY(-40%)translateX(0)scaleX(1)}
  60%{transform: rotateZ(180deg)translateY(-40%)translateX(-45%)scaleX(1)}
  100%{transform: rotateZ(180deg)translateY(-40%)translateX(-45%)scaleX(8)}
}
@keyframes menu-links {
  0%{transform: rotateY(-90deg);}
  100%{transform: rotateY(0deg);}
}
@keyframes menu-links-hide {
  0%{transform: rotateY(0deg);}
  100%{transform: rotateY(-90deg);}
}
// Button Animations
@keyframes btn-focus {
  0%{background-color: lightgray;}
  100%{background-color: $offset-secondary-color;}
}