// Color Set
$primary-color:black;
$secondary-color:white;
$offset-primary-color:teal;
$offset-secondary-color:cadetblue;
$border-color: lightgray;

// Font-sizing
$primary-heading: 1.5rem;
$secondary-heading: 1rem;
$primary-content: .8rem;
$secondary-content: .6rem;

// Margin/Paddings
$mobile-spacing: 16px;
$tablet-spacing: 24px;
$desktop-spacing: 40px;

// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;