@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.inline-nav{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
 
  &__link{
    @include btn-styling;
  }
}